<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Minimal Navigation -->
    <nav>
        <ul>
            <li><a href="{{ url_for('all_sessions') }}">All Sessions</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <div class="content-container">
        <h1>Edit Session</h1>
        <form method="POST" action="{{ url_for('edit_session', session_id=session['_id']) }}">
            <div>
                <label for="course">Course</label>
                <input type="text" id="course" name="course" value="{{ session['course'] }}" required>
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" value="{{ session['date'] }}" required>
            </div>
            <div>
                <label for="time">Time</label>
                <input type="time" id="time" name="time" value="{{ session['time'] }}" required>
            </div>
            <div>
                <label for="timezone">Timezone</label>
                <select id="timezone" name="timezone" required>
                    <option value="" disabled>Select your timezone:</option>
                    <option value="US/Eastern" {% if session.timezone=='US/Eastern' %}selected{% endif %}>Eastern
                        (EST/EDT)
                    </option>
                    <option value="US/Central" {% if session.timezone=='US/Central' %}selected{% endif %}>Central
                        (CST/CDT)
                    </option>
                    <option value="US/Mountain" {% if session.timezone=='US/Mountain' %}selected{% endif %}>Mountain
                        (MST/MDT)</option>
                    <option value="US/Pacific" {% if session.timezone=='US/Pacific' %}selected{% endif %}>Pacific
                        (PST/PDT)
                    </option>
                </select>
            </div>
            <div>
                <button type="submit">Update Session</button>
            </div>
        </form>

        <!-- Delete Button -->
        <form method="POST" action="{{ url_for('delete_session', session_id=session['_id']) }}">
            <button type="submit" class="btn btn-danger">Delete Session</button>
        </form>
    </div>
</body>

</html>